body {
  background-color: #714119;
}

header {
  text-align: center;
  color: rgba(255,225,0,1);
  margin: 15px;
  font-size: 18px;
  font-family: monospace;
}

#root {
  padding: 28px 10px 10px 30px;
  width: 990px;
  height: 550px;
  /*border: 1px solid red;*/
  margin: 0 auto 0 auto;
  background-image: url(images/shelf.jpg);
}

.boxContainer {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 110px 110px 110px 110px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 30px;
}

.box {
  font-size: 8px;
  height: 108px;
  width: 300px;
  text-align: center;
  background-image: url(images/boxFrame.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxHidden {
  height: 108px;
  width: 300px;
  /*border: 1px solid white;*/
}


.fruit {
  /*border: 1px solid red;*/
  width: 100px;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  /*border: 1px solid green;*/
  user-select: none;
}

.fruitHidden {
  /*border: 1px solid yellow;*/
  width: 100px;
  height: 106px;
}

.glow {
  animation: glowing  0.5s infinite alternate;

}

@keyframes glowing {
  from {
    box-shadow: 0 0 5px 5px rgba(255,225,0,0.5);
  }
  to {
    box-shadow: 0 0 7px 7px rgba(255,225,0,1);
  }
}
