body {
  background-color: #714119;
  /*background: radial-gradient(#cda46e, #714119);*/
}

#root {
  padding: 28px 10px 10px 30px;
  width: 990px;
  height: 550px;
  border: 1px solid red;
  margin: 0 auto 0 auto;
  background-image: url(images/shelf.jpg);
}

.boxContainer {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 110px 110px 110px 110px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 30px;
}

.box {
  font-size: 8px;
  height: 108px;
  width: 300px;
  text-align: center;
  border: 1px solid green;
  background-image: url(images/boxFrame.png);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxHidden {
  height: 108px;
  width: 300px;
  border: 1px solid white;
}

.boxPlace {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  /*border: 1px solid black;*/
}

.fruit {
  border: 1px solid red;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border: 1px solid green;
}

.fruitHidden {
  border: 1px solid yellow;
  width: 90px;
  height: 90px;
}

.glow {
  animation: glowing  2s infinite ease-in-out;
  box-shadow: 0 0 10px 10px rgba(250,150,150,1);
}

@@keyframes glowing {
  from {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  to {
    box-shadow: 0 0 10px rgba(50,0,0,0.7);
  }
}
